* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: rgb(38, 61, 136);
  --secondary-color: rgb(172, 191, 255);
  --secondary-highlight-color: rgb(147, 172, 255);
  --gray-color: #e4e4e4;
  --font-color: #333;
}

html,
body {
  font-size: 20px;
  line-height: 1.5em;
  color: var(--font-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-image: url("./mesh.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1,
  & p {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 0 3em;
    text-shadow: 0px 0px 3px black;
  }
  & h1 {
    font-size: 3em;
  }
  & p {
    max-width: 900px;
    margin: 1em 0;
  }
}

main {
  padding: 3em;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% 60% 20%;
  column-gap: 1em;
  grid-template-areas:
    ". welcome ."
    ". map ."
    ". faq ."
    ". contact .";
}

section.top {
  grid-area: welcome;
}

section.map {
  grid-area: map;

  & img {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }
}

section.faq {
  grid-area: faq;
}

section.contact {
  grid-area: contact;
}

section.box {
  background-color: var(--secondary-color);
  padding: 1.2em 1em 1em 1em;
  margin: 1em 0 4em 0;
  border-radius: 8px;

  & h2 {
    margin: 0 0 1em 0;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: 100%;
    grid-template-areas:
      "welcome"
      "map"
      "faq"
      "contact";
  }
}

@media screen and (max-width: 700px) {
  main {
    padding: 1.5em;
  }
  header p,
  header h1 {
    padding: 0 1rem;
  }
}

h1 {
  font-size: 2.3em;
  margin: 0 0 1em 0;
  line-height: 1em;
}

h2 {
  font-size: 1.8em;
  margin: 3em 0 1em 0;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  margin: 1.5em 0 1em 0;
  line-height: 1em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.2em 0 0.2em 0;
  line-height: 1em;
}

p {
  margin: 0.5em 0 0.2em 0;
}

a {
  color: var(--font-color);

  &:hover {
    color: #339;
  }
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 4px 6px 1px 6px;
}

ul {
  margin: 1em 0 1em 2em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 0 5em 0;

  & label {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 1.2em 0 0.2em 0;
    line-height: 1em;
  }

  & input,
  & textarea,
  & button {
    width: 100%;
    margin: 0.5em 0 0.2em 0;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--font-color);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    &:disabled {
      background-color: var(--gray-color);
    }
  }

  & button {
    background-color: var(--secondary-color);
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-highlight-color);
    }
  }
}

:root {
  font-size: 1em;
}
@media print {
  :root {
    font-size: 0.8em;
  }
}

section.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

section.label {
  width: 22rem;
  text-align: center;
  padding: 2rem;
  border: 1px solid black;

  &.narrow {
    width: 17rem;
  }

  & img,
  & svg {
    width: 9rem;
  }
  & .columns,
  & .rows {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;

    & ul {
      text-align: left;
      width: 9rem;
      list-style: none;
      margin: 0;
      padding: 0;

      & li {
        position: relative;
        padding-left: 1.1rem;
        font-size: 0.8rem;
        line-height: 1.4rem;

        & img {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -0.4rem;
          width: 0.8rem;
          height: 0.8rem;
          object-fit: contain;
        }
      }
    }
  }

  & .rows {
    flex-direction: column;
    align-items: center;

    & ul {
      width: auto;
    }
  }

  & h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0;
  }
  & p {
    font-size: 0.8rem;
    line-height: 0.8rem;

    &.url {
      font-size: 0.7rem;
    }
  }
}

[data-deeplink] {
  position: relative;

  & > a:first-child {
    display: none;
    position: absolute;
    left: -35px;
    width: 35px;
    height: auto;
    text-decoration: none;
    color: #bbb;
    text-align: center;
  }

  &:hover > a:first-child {
    display: block;
  }
}
